<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YRCEA Welcome Page</title>
  </head>
  <body>
    <%- include("header.ejs") %>
    <script>
      document.getElementById("welcome").style.color = "lime";
    </script>
    <h1>hello world!</h1>
  </body>
</html>
